TSG084 - Internal Query Processor Error
=======================================

Description
-----------

When running a Polybase query, the following error maybe returned:

> Msg 8680, Level 16, State 30, Line 1 Internal Query Processor Error:
> The query processor encountered an unexpected error during the
> processing of a remote query phase. OLE DB provider “MSOLEDBSQL” for
> linked server “(null)” returned message “Unspecified error”. Msg 7421,
> Level 16, State 2, Line 1 Cannot fetch the rowset from OLE DB provider
> “MSOLEDBSQL” for linked server “(null)”. .

To get more information, use the following DMV query. The `details`
column will contain more information. All the rows for a single
‘execution\_id’ (QIDnnnnnn) are related to a single query execution.

### Steps

In [ ]:
DECLARE @query NVARCHAR(max) = '<enter query here>'

SELECT e.*
FROM sys.dm_exec_distributed_requests dr
CROSS APPLY sys.dm_exec_sql_text(sql_handle) st
JOIN sys.dm_exec_compute_node_errors e ON dr.execution_id = e.execution_id
WHERE st.text = @query
ORDER BY create_time DESC

In [ ]:
print('Notebook execution complete.')