SAM003 - Data Pool Example
==========================

Description
-----------

In this tutorial, you learn how to:

-   **Create a data pool source.**
-   **Create an external table in the data pool.**
-   **Insert data in data pool tables.**
-   **Loading data from one data pool table to another.**
-   **Join data in the data pool table with other data pool tables.**
-   **Truncating tables.**
-   **Cleanup.**

### Create a database and an external data source

In [ ]:
USE MASTER
GO

DROP DATABASE IF EXISTS datapoolNoteBookTutorialDB
GO

CREATE DATABASE datapoolNoteBookTutorialDB
GO

USE datapoolNoteBookTutorialDB
GO

CREATE EXTERNAL DATA SOURCE datapoolsrc
WITH
(
    LOCATION = 'sqldatapool://controller-svc/default'
)
GO

### Create an external table in the data pool with Round Robin distribution

In [ ]:
CREATE EXTERNAL TABLE [CustomersRR]
(
       [CustomerId] [int] NOT NULL,
       [Name] [nvarchar](256) NOT NULL,
       [RegionId] [int] NOT NULL
) WITH
(
       DATA_SOURCE = datapoolsrc,
       DISTRIBUTION = ROUND_ROBIN
)
GO

### Create an external table in the data pool with Replicated distribution

In [ ]:
CREATE EXTERNAL TABLE [CustomersRep]
(
       [CustomerId] [int] NOT NULL,
       [Name] [nvarchar](256) NOT NULL,
       [RegionId] [int] NOT NULL
) WITH
(
       DATA_SOURCE = datapoolsrc,
       DISTRIBUTION = REPLICATED
)
GO

### Load data into tables

In [ ]:
INSERT INTO CustomersRR VALUES (1, 'customer1', 1)
GO

INSERT INTO CustomersRR VALUES (2, 'customer2', 1)
GO

INSERT INTO CustomersRR VALUES (3, 'customer3', 2)
GO

INSERT INTO CustomersRR VALUES (4, 'customer4', 2)
GO

INSERT INTO CustomersRR VALUES (5, 'customer5', 3)
GO

In [ ]:
INSERT INTO CustomersRep VALUES (1, 'customerRep1', 1)
GO

INSERT INTO CustomersRep VALUES (2, 'customerRep2', 1)
GO

INSERT INTO CustomersRep VALUES (3, 'customerRep3', 2)
GO

INSERT INTO CustomersRep VALUES (4, 'customerRep4', 2)
GO

INSERT INTO CustomersRep VALUES (5, 'customerRep5', 3)
GO

### Loading data from one data pool table to another

In [ ]:
INSERT INTO CustomersRep
SELECT * FROM CustomersRR
GO

### Querying data

In [ ]:
SELECT * FROM CustomersRR;
GO

### Join between different data pool tables

In [ ]:
SELECT CustomersRR.CustomerId, CustomersRR.Name, CustomersRR.RegionId 
FROM CustomersRR 
INNER JOIN CustomersRep ON CustomersRR.CustomerId = CustomersRep.CustomerId
GO

### Truncate Tables

In [ ]:
TRUNCATE TABLE CustomersRep
GO

In [ ]:
TRUNCATE TABLE CustomersRR
GO

### Cleanup

In [ ]:
DROP EXTERNAL TABLE CustomersRep
GO

DROP EXTERNAL TABLE CustomersRR
GO

DROP EXTERNAL DATA SOURCE datapoolsrc
GO

USE master
GO

DROP DATABASE datapoolNoteBookTutorialDB
GO

In [ ]:
print('Notebook execution complete.')